/* tocbar */
#toc_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    max-width: 12rem;
    overflow-y: auto;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: .875rem; /* 15px */
    color: rgba(255,255,255,.6);
    background-color: #202020;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (max-width: 60em){
    #toc_container {
      display: none;
    }
  }
  
  @media (min-width: 70em) {
    #toc_container {
      max-width: 15rem;
    }
  }
  
  .toc_title {
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
  }
  
  /*
  #toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
  }
  */

  #toc_container ol, ul{
    margin-right: 1rem;
  }

  #toc_container li{
    margin-top: 0.5rem;
  }
  
  #toc_container a{
    color: #fff;
  }